projectName=Imports

#Azure Container Registries
#SND ACR
azureSndContainerRepository=SNDEUXFESACR001
azureSndContainerRegistry=sndeuxfesacr001.azurecr.io
#OPS ACR
azureOpsContainerRepository=OPSIMPFESACR001
azureOpsContainerRegistry=opsimpfesacr001.azurecr.io

#Deploy Lists
sandpitDeploymentList=configuration/imports/deploylist/sandpit/deployList.txt
sandpitasev2DeploymentList=configuration/imports/deploylist/sandpitasev2/deployList.txt
octopusDeploymentList=configuration/imports/deploylist/octopus/deployList.txt
secretscanningDeploymentList=configuration/imports/deploylist/secret_scanning_list/deployList.txt

#Code in the Open
blackListFiles=vs-maven.xml secondExample
blackListString=artifactoryv2.azure.defra.cloud

databaseResourceGroup=SNDIMPINFRGP001
databaseElasticPool=sndimpedpsqa001

azureContainerRepositoryReleasePrefix=imports-release
azureContainerRepositoryHotfixPrefix=imports-hotfix
azureResourceGroupNamePrefix=SNDIMPINFRGP001
azureResourceGroupPoolPrefix=SNDIMPINFRGP001-Pool-
azureResourceGroupHotfixPoolPrefix=SNDIMPINFRGP001-Hotfix-Pool-

azureDatabaseServer=sndimpdbssqa001

azureKeyVault=SECIMPINFKVT001

azureSearchAdminApiKey=imports-azure-search-admin-shared-s2
azureSearchServiceHost=imports-azure-search-shared-s2

azureSearchApiVersion=2019-05-06

azureSubscriptionId=e716414f-1f8e-48f1-8f56-65f35cfdafb6
azureSndImpContributorActiveDirectoryGroup=2a493b1f-b154-4aef-9b62-60719bcdef16
azureEuxIpaffsKainosDevUsersActiveDirectoryGroup=65da3ae7-07d2-4144-bd49-faa52bebad1f
azureContributorActiveDirectoryGroup=ade54800-ff39-4482-b3a9-c7e406c52c52
azureOwnerActiveDirectoryGroup=df142e5d-f9bd-4c34-960e-b37cd10cbabf
azureReaderActiveDirectoryGroup=08fbc5e8-507a-430c-ad64-8925ea3f0d3c
azureClientId=9f9d7738-e643-4ad3-820b-b461583302a8
azureTenantId=770a2450-0227-4c62-90c7-4e38537f1102
jenkinsCredentialsRepository=EUXIMPSNDAZCLI

resourceGroupsServiceCode=IMP
resourceGroupsServiceName=EUX Imports
resourceGroupsServiceType=LOB

slackChannel=defra-eux-imports-mr

serviceAdminDBUsername=SA-DEFRA-AZURE-IMP-SQL-SND@Defra.onmicrosoft.com
approvedestablishment-microserviceAzureSearchDBUsername=approved_establishment_azure_user
economicoperator-microserviceAzureSearchDBUsername=ms_economicoperators_azure
laboratories-microserviceAzureSearchDBUsername=laboratory_tests_azure_user
notification-microserviceAzureSearchDBUsername=ms_notification_azure

aseAppServicePlanList=[frontend-plan-1,frontend-plan-2,high-traffic-plan-1,reference-data-plan-1,reference-data-plan-2,soap-services-plan-1,low-traffic-plan-1,enotification-plan-1]

freePoolTagValue=Imports
freeHotfixPoolTagValue=Hotfix
maxNumPoolsLimit=18
maxNumberOfParallelDeployments=20

mvnReleaseGitUserEmail=imports-jenkins@defra.onmicrosoft.com
mvnReleaseGitUserName=imports-jenkins

linuxBaseImage=ubuntu-20211014:ubuntu20.04
javaBaseImage=1.0.2-java11-jammy
javaAzureFunctionBaseImage=mcr.microsoft.com/azure-functions/java:4-java
blazematerBaseImage=blazemeter1.16.14:20221006
nodeBaseImage=2.1.3-node16.18.1
zapBaseImage=owaspzap2.12.0:20230214

applicationInsightsVersion=3.1.1

#Microsoft Teams Properties
mergeNotifications=https://kainossoftwareltd.webhook.office.com/webhookb2/67563e7d-c038-421d-9cbb-1a50218b9d70@7ed9bdc7-964d-4dc0-9084-812b90e05c6d/IncomingWebhook/044dfeceaf8e49aab89a1c6fd89352e7/85b3d8d0-da67-4ec0-9624-35b5c1250e40
ipaffsNotifications=https://kainossoftwareltd.webhook.office.com/webhookb2/fb835905-0caf-46f3-b3c4-f0aab5487c7b@7ed9bdc7-964d-4dc0-9084-812b90e05c6d/JenkinsCI/a08f9a914dfa46b4b13c57855ac4e311/fe5cfbc4-059c-45bb-baa5-565cba69ab2b
red=#ff0000
green=#00cc00
yellow=#ffff00
