"jdbc:sqlserver://${DB_HOST}:${DB_PORT};databaseName=${DB_NAME};user=${DB_USER};password=${DB_PASSWORD};trustServerCertificate=${TRUST_SERVER_CERTIFICATE};hostNameInCertificate=*.database.windows.net;encrypt=true;",
"jdbc:sqlserver://${DATABASE_DB_HOST}:${DATABASE_DB_PORT};database=${DATABASE_DB_NAME}",
"jdbc:sqlserver://${DB_HOST}:${DB_PORT};databaseName=${DB_NAME};hostNameInCertificate=*.database.windows.net;",
"jdbc:sqlserver://"
